/* .scrollContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color: red;
   
}

.scrollButton {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    z-index: 1000;
} */

.scrollButtonHover:hover {
    background-color: #f0f0f0;
}

/* .iconColumn {
    width: 0.5rem;
} */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .tableContainer {
    max-height: 60vh;
    width: 50%;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-bottom: 20px;
  }
  
  .thead{
    color: black;
    
  }
  
.noBorder {
    border: none;
}
.tableRow:hover {
    background-color: #f0f0f0;
}

.form{
    background-color: white;
    margin-top: 5rem;
    display: flex;
  flex-direction: column;
}

.form > * {
    margin-bottom: 16px; /* רווח בין אלמנטים */
  }

  .field{
    margin-bottom: 16px;
  }
/* .dialog{ */
   
.MuiDialogTitle-root+.css-ypiqx9-MuiDialogContent-root {
    padding-top: 55px; 
    max-height: '60vh';
     width: '81vw' ;

}
.MuiInputBase-input {
    margin: 0.5rem;
    /* padding: 0; */
}
.MuiPaper-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;   
}
.navBar{
    max-width: 100vw;   

}

